body {
    background-color: lightsteelblue;
    font-family: 'Orbitron', sans-serif;
    color: rgb(9, 9, 95);
}

button {
font-weight: bold;
width: 80px;
height: 30px;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 50% 35%;
    
}

.image {
    height: 300px;
    width: 300px;
    align-self: center;
    border-color: mediumblue;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}

#header {
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -20;
    margin-top: -10;    
}

#title {
    font-size: 40px;
    padding-bottom: 0;
    flex-grow: 1;
    margin-bottom: 0;
}

#subtitle {
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 0;

}

#button-rock {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-paper {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-scissors {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results {
    height: 150px;
    width: 575px;
    text-align: center;
    align-content: center;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e1f7ff;
}

#footer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25;
}